# Project exclude paths
/.gradle/
/Car Sharing/task/build/
/Car Sharing/task/out/
/Car Sharing/task/out/production/classes/
/Topics/ArrayList/Output the list's elements/out/
/Topics/ArrayList/Output the list's elements/out/production/classes/
/Topics/Collectors/ASCII Art/out/
/Topics/Collectors/ASCII Art/out/production/classes/
/Topics/Function composition/Disjunct all/out/
/Topics/Function composition/Disjunct all/out/production/classes/
/Topics/Functional data processing with streams/Finding max and min elements/out/
/Topics/Functional data processing with streams/Finding max and min elements/out/production/classes/
/Topics/LocalTime/Some hours and minutes ago/out/
/Topics/LocalTime/Some hours and minutes ago/out/production/classes/
/Topics/Map and flatMap/Maximum of the absolute values/out/
/Topics/Map and flatMap/Maximum of the absolute values/out/production/classes/
/Topics/Parallel streams/Fix the sorting order/out/
/Topics/Parallel streams/Fix the sorting order/out/production/classes/
/Topics/Reduction methods/Range quadratic sum/out/
/Topics/Reduction methods/Range quadratic sum/out/production/classes/
/Topics/Stream filtering/Omitting long strings/out/
/Topics/Stream filtering/Omitting long strings/out/production/classes/